*{
    margin: 0px;
    padding: 0px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{ 
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background: crimson;
    font-family: 'Courier New', Courier, monospace;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
 
}
.navbar .menu .li{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li{
    display: inline-block;
}
li a {
    text-decoration: none;
    color: #fff;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 25px;
}
.cool-link::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.content{
    background: rgb(131, 126, 126);
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
p{
    font-size: 25px;
    color: black;
}

